 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .menu-container {
    color: fff;
    background-color: #5995DA;
    display: flex;
    justify-content: center;
 }

 .menu {
    background-color: lightblue;
    border: 1px solid white;
    width: 900px;
    display:flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .date,
 .jik-tak,
 .login {
    background-color: orange;
    display:flex;
    padding: 20px;
    justify-content: space-evenly;
    
 }
 